@font-face {
	font-family: Arimo; 
	src: url(../font-arimo/Arimo-Regular.ttf);
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: Arimo; 
	src: url(../font-arimo/Arimo-Italic.ttf);
	font-weight:normal;
	font-style:italic;
}

@font-face {
	font-family: Arimo; 
	src: url(../font-arimo/Arimo-Bold.ttf);
	font-weight:bold;
	font-style:normal;
}

@font-face {
	font-family: Arimo; 
	src: url(../font-arimo/Arimo-BoldItalic.ttf);
	font-weight:bold;
	font-style:italic;
}
